<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="r6bot">

  <!-- Import r6bot macro -->
  <xacro:include filename="$(find gungnir_description)/urdf/gungnir.urdf.xacro"/>
  <xacro:include filename="$(find gungnir_description)/urdf/gungnir.ros2_control.xacro"/>

  <xacro:property name="upperarm_length" value="0.415"/>
  <xacro:property name="forearm_length" value="0.300"/>

  <!-- create link fixed to the "world" -->
  <link name="world"/>

  <xacro:r6bot_description upperarm_length="${upperarm_length}" forearm_length="${forearm_length}" />

  <xacro:gungnir_ros2_control name="gungnir_ros2_control"/>

</robot>